{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="container-md text-center">
        <div class="jumbotron text-center w-75">
            <h1 id="welcome-header">Welcome to BeeVibe!</h1>     
            {% if current_user.is_authenticated %}
            <h1>{{current_user.username}}</h1>   
            {% endif %}
            <div id="welcome-img-container">
                <canvas id="welcome-canvas" width=960 height=615></canvas>
            </div>
            <p id="welcome-desc">BeeVibe helps you create and share personalized playlists.</p>
            <div class="btn-group" role="group">
                <!--<a href="{{ url_for('random') }}"><button type="button" href="/" class="btn btn-primary">Go to a random playlist!</button></a>-->
                <a href="{{ url_for('playlist', key=playlist.id) }}"><button type="button" href="/" class="btn btn-primary">Go to the featured playlist!</button></a>
                <a href="{{ url_for('playlist_add')}}"><button type="button" class="btn btn-primary">Create your playlist now!</button></a>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
  <script type="text/javascript">
    let title = "{{playlist.title}}" + ", by " + "{{playlist.creator}}";

    let img = new Image();
    let canvas = document.querySelector('#welcome-canvas');
    img.onload = () => {
        ctx = canvas.getContext('2d');
        ctx.fillStyle = "{{playlist.page.color}}";
        roundRect(ctx, 0, 0, canvas.width, canvas.height);
        ctx.globalCompositeOperation = 'source-atop';
        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
        ctx.font = "italic bold 50px fantasy";
        ctx.fillStyle = "{{playlist.page.text_color}}";
        ctx.fillText(title, 100, 120);
    };
    img.src = "https://cdn.pixabay.com/photo/2014/03/25/16/54/tape-297596_960_720.png";
//    img.src = "{{url_for('static', filename='cassette-312681.svg')}}";
    /**
     * Draws a rectangle with corner radius r with top left corner at (x, y)
     *
     * Adapted from: http://js-bits.blogspot.com/2010/07/canvas-rounded-corner-rectangles.html
     */
    function roundRect(ctx, x, y, width, height) {
      r = 45; //corner radius
      ctx.beginPath();
      ctx.moveTo(x + r, y);
      ctx.lineTo(x + width - r, y);
      ctx.quadraticCurveTo(x + width, y, x + width, y + r);
      ctx.lineTo(x + width, y + height - r);
      ctx.quadraticCurveTo(x + width, y + height, x + width - r, y + height);
      ctx.lineTo(x + r, y + height);
      ctx.quadraticCurveTo(x, y + height, x, y + height - r);
      ctx.lineTo(x, y + r);
      ctx.quadraticCurveTo(x, y, x + r, y);
      ctx.closePath();
      ctx.fill();
    }
  </script>
{% endblock %}