<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>BeeVibe{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{url_for('index')}}">BeeVibe</a>

        <div class="navbar-collapse navbar" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="{{ url_for('featured')}}">Discover</a></li>
          {% if current_user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('user')}}">Profile</a></li>  
          <li class="nav-item"><a class="nav-link" href="{{ url_for('logout')}}">Logout</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('login')}}">Login</a></li>
          {% endif %}
        </ul>
      <form class="form-inline my-2 my-lg-0 search" action="{{ url_for('search_page') }}" method="POST">
          <input class="form-control mr-sm-2" id="search-input" type="search" placeholder="Look for playlists" aria-label="Search" list="search-results" name="query">
          <ul class="list-group" id="search-results"></ul>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
        </form>
      </div>
    </nav>


    {% with mailbox = get_flashed_messages() %}
      {% if mailbox %}
      <div class="mailbox text-center"><ul style="list-style-type: none;">{% for message in mailbox %}
      <li>{{message}}</li>
      {% endfor %}
      </ul></div>
      {% endif %}
      {% endwith %}
    {% block content %}{% endblock %}
  </body>
  {% block script %}{% endblock %}
  <script type="text/javascript">
    const MIN_SEARCH_LENGTH = 3;

    let search = document.querySelector('#search-input');
    let results = document.querySelector('#search-results');
    
    search.addEventListener('input', (el) => {
      if (search.value.length > MIN_SEARCH_LENGTH){
        let xhttp = new XMLHttpRequest(); 
          xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  results.innerHTML = "";
                  let res = JSON.parse(this.responseText);
                  console.log(res);
                  if(res.status){
                    for(const attr of res.results){
                      let node = document.createElement('LI');
                      node.innerText = attr.split(':')[0];
                      node.innerHTML = "<a href='/playlist/" + attr.split(':')[1] + "'>" + node.innerText + "</a>"
                      node.classList.add('list-group-item');
                      results.appendChild(node);
                    }
                  }
             }
          };
        xhttp.open("POST", "/search", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("query=" + search.value);
      } else {
        results.innerHTML = "";
      }
    })
  </script>
</html>