{% extends "layout.html" %}
{% block content %}
<div class="container page-container" style="background-color: white;">
{% block explanation %}{% endblock %}
    <table class="table table-striped table-hover">
        {% if playlists|length > 0 %}
        <thead>
        <tr>
            <td>Playlist Title</td>
            <td>Creator Name</td>
        </tr>
        </thead>
        {% endif %}
        <tbody>

        {% for playlist in playlists%}
        <tr>
            <td><a href="{{url_for('playlist', key=playlist.id)}}">{{playlist.title}}</a></td>
            <td>{{playlist.creator}}</td>
        </tr>
        {% else %}
            <p>No playlists found.</p>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}