{% extends "list-layout.html" %}
{% block title %} - Featured Playlists {% endblock %}
{% block explanation %}
{% if profile %}
    {% if profile == current_user.username%}
    <h2><center><strong>Welcome to your profile, {{current_user.username}}.</strong></center></h2>
    {% else %}
    <h2><center><strong>This is a list of playlists by {{profile}}.</strong></center></h2>
    {% endif %}
{% else %}
<p></strong></center>This is a list of featured playlists.</strong></center></p>
{% endif %}
{% endblock %}