{% extends "layout.html" %}
{% block title %} - Login{% endblock %}
{% block content %}
<div class="container-md text-center page-container">
<form method="POST">
    <p>{%if not status%}Wrong password. {% else %}You need to enter a password to access this playlist.{%endif%}</p>
    <div class="form-group">
        <input class="form-control login-box w-50" type="password" name="password">
        <button class="btn btn-lg btn-warning btn-login">Enter Password</button>
    </div>
</form>    
</div>
{% endblock %}