{% extends "layout.html" %}
{% block title %} - Create a playlist {% endblock %}
{% block content %}
    <div class="container-md text-center playlist-container">
        <form action="" method="POST">
        <h1><input type="text" name="playlist_title" placeholder="What will you call your playlist?"></h1>   
        <h2><input type="text" name="playlist_creator" placeholder="Created by: "></h2>
        <p><input type="text" name="playlist_descr" placeholder="Enter an optional description"></p>
        <p><input type="color" name="playlist_color"></p>
        <button class="btn">Submit</button>
       </form>
    </div>
{% endblock %}