{% extends "layout.html" %}
{% block title %} - {{playlist.title}} by {{playlist.creator}} {% endblock %}
{% block content %}
    <div class="container-md text-center playlist-container" 
        {% if playlist.page.color is not none %}
            style="background: {{playlist.page.color}}"
        {% endif %}
        >
        <h1>{{playlist.title}}</h1>   
        <h2>Created by {{playlist.creator}}</h2>
        {% if playlist.metadata.status %}
        <div class="playlist-descr">
            {% if playlist.metadata.image %}
            <canvas id="playlist-thumbnail" width="100" height="100"></canvas>
            {% endif %}
            {% if playlist.metadata.descr %}
            <p id="playlist-descr-content">{{playlist.metadata.descr}}</p>
            {% endif %}
        </div>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <td>Song</td>
                    <td>Artist</td>
                    <td>Album</td>
                    <td>Duration</td>
                    <td>Comments</td>
                </tr>
            </thead>
            <tbody>
            {% for song in playlist %}
                <tr>
                    <td>{{ song["title"] }}</td>
                    <td>{{ song["artist"] }}</td>
                    <td>{{ song["album"] }}</td>
                    <td>{{ song["duration"] }}</td>
                    {% if song["id"] in playlist.song_descr %}
                    <td>{{playlist.song_descr[song["id"]]}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if playlist.page.commenting %}
        <table class="table">
            {% if playlist.page.comments|length > 0 %}
            <thead>
                <td>Author</td>
                <td>Comment</td>
                <td>Date</td>
            </thead>
            {% endif %}
            {% for comment in playlist.page.comments %}
            <tr>
                <td>{{comment.author}}</td>
                <td>{{comment.content}}</td>
                <td>{{comment.date}}</td>
            </tr>
            {% endfor%}
            <tr>
                <form class="form-control" method="GET">
                <td><input type="text" name="author">Enter a nickname: </input></td>
                <td><input type="text" name="author">What do you think? </input></td>
                <td><button class="btn">Submit</button></td>
                </form>
            </tr>
        </table>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
  <script type="text/javascript">
    let img = new Image();
    let canvas = document.querySelector('#welcome-canvas');
    img.onload = () => {
        canvas.getContext('2d').drawImage(img, 0, 0, canvas.width, canvas.height);
        canvas.getContext('2d').font = "italic bold 50px fantasy";
        canvas.getContext('2d').fillText("Hello World", 100, 120);
    };
    img.src = "https://cdn.pixabay.com/photo/2014/03/25/16/54/tape-297596_960_720.png";
//    will be the thumbnail";
  </script>
{% endblock %}
