{% extends "layout.html" %}
{% block title %} - Create a playlist {% endblock %}
{% block content %}
    <div class="container-md text-center playlist-container">
        <form action="" method="POST" enctype=multipart/form-data novalidate>
            {{form.hidden_tag()}}
        <h1>
            {{form.title.label}}<br>
            {{form.title(size=32)}}
        </h1>{% for error in form.title.errors %}
        <span style="color: red;">Warning: {{ error }}</span>
        {%endfor%}   
        <h2>Created by {{current_user.username}}</h2>
        <p>
            {{form.image.label}}<br>
            {{form.image()}}
        {% for error in form.image.errors %}
        <span style="color: red;">Warning: {{ error }}</span>
        {%endfor%}</p>
        <p>
            {{form.descr.label}}<br>
            {{form.descr()}}
        {% for error in form.descr.errors %}
        <span style="color: red;">Warning: {{ error }}</span>
        {%endfor%}</p>
        <p id="color_descr">{{form.color.label}}
        {{form.color}}{% for error in form.color.errors %}
        <span style="color: red;">Warning: {{ error }}</span>
        {%endfor%}</p>
        <p> {{form.commenting.label}}<br>
            {{form.commenting()}}
        </p>
        <p>
            {{form.privacy.label}}<br>
            {{form.privacy()}}{% for error in form.privacy.errors %}
        <span style="color: red;">Warning: {{ error }}</span>
        {%endfor%}
        </p>
        <p>
            {{form.date.label}}<br>
            {{form.date()}}{% for error in form.date.errors %}
        <span style="color: red;">Warning: {{ error }}</span>
        {%endfor%}
        </p>
        <p>{{form.submit()}}</p>
       </form>

       <h2>or import from Spotify: </h2>

       <form method="POST" enctype="multipart/form-data">
        {{import_form.hidden_tag()}}
        <p>
            {{import_form.uri.label}}<br>
            {{import_form.uri()}}
        {% for error in import_form.uri.errors %}
        <span style="color: red;">Warning: {{ error }}</span>
        {%endfor%}</p>
        <p>
            {{import_form.file.label}}<br>
            {{import_form.file()}}
        {% for error in import_form.file.errors %}
        <span style="color: red;">Warning: {{ error }}</span>
        {%endfor%}</p>
        <p>{{import_form.import_btn()}}</p>
       </form>
        
    </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    let container = document.querySelector('.playlist-container');
    let color_input = document.getElementById('playlist_color');
    let color_descr = document.getElementById('color_descr')[0];

    color_input.addEventListener('input', () => {
        container.style.backgroundColor = color_input.value;
        document.body.style.color = ComputeTextColor(color_input.value)
    });

    ComputeTextColor = (backgroundColor) => {
        //from data
        let r_norm = parseInt('0x' + backgroundColor.slice(1,3)) / 255;
        let g_norm = parseInt('0x' + backgroundColor.slice(3,5)) / 255;
        let b_norm = parseInt('0x' + backgroundColor.slice(5,7)) / 255;
        let linearize = (c) => c > 0.03928 ? ((c + 0.055) / 1.055)**2.4 : c / 12.92
        let r_lin = linearize(r_norm)
        let g_lin = linearize(g_norm)
        let b_lin = linearize(b_norm)
        luminance = 0.2126 * r_lin + 0.7152 * g_lin + 0.0722 * b_lin
        text_luma = (1 / 7) * (luminance - 0.3)
        return text_luma > 0.04 ? '#303133' : '#ffffff'
    }

    color_input.value = container.style.backgroundColor;
    document.body.style.color = ComputeTextColor(color_input.value);

</script>
{% endblock %}