{% extends "layout.html" %}
{% block title %} - {{playlist.title}} by {{playlist.creator}} {% endblock %}
{% block content %}
    <div class="container-md text-center playlist-container" 
        {% if playlist.page.color is not none %}
            style="background: {{playlist.page.color}};
                   color: {{playlist.page.text_color}}"
        {% endif %}
        >
        <h1>{{playlist.title}}</h1>   
        <h2>Created by {{playlist.creator}}</h2>
        {% if playlist.metadata.status %}
        <div class="playlist-descr">
            {% if playlist.metadata.image %}
            <img src="{{playlist.metadata.image}}" width="100" height="100">
            {% endif %}
            {% if playlist.metadata.descr %}
            <p id="playlist-descr-content">{{playlist.metadata.descr}}</p>
            {% endif %}
        </div>
        <div>
            <form method="POST">
            <p>
                {{form.descr.label}}<br>
                {{form.descr()}}
            </p>
            <p>
                {{form.color.label}}<br>
                {{form.color()}}
            </p>
            <p> {{form.commenting.label}}<br>
                {{form.commenting()}}
            </p>
            <p>{{form.submit()}}</p>
            </form>
        </div>
        {% endif %}
        <table class="table" style="color: inherit">
            <thead>
                <tr>
                    <td>Mark to delete</td>
                    <td>Song</td>
                    <td>Artist</td>
                    <td>Album</td>
                    <td>Duration</td>
                    <td>Comments</td>
                </tr>
            </thead>
            <tbody>
            <form action="{{url_for('remove_song', key=playlist.id)}}" method="POST">
            {% for song in playlist %}
                <tr>
                    <td><input type="checkbox" name="{{song['id']}}" value="{{song['id']}}">Delete</td>
                    <td>{{ song["title"] }}</td>
                    <td>{{ song["artist"] }}</td>
                    <td>{{ song["album"] }}</td>
                    <td>{{ song["duration"] }}</td>
                    {% if song["id"] in playlist.song_descr %}
                    <td>{{playlist.song_descr[song["id"]]}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <button> Delete songs </button>
            </form>
        </tbody>
        </table>

        <table class="table">
            <tr>
                <form method="POST" action="{{url_for('add_song', key=playlist.id)}}">
                <td><button id="add_song">Add</button></td>
                <td><input id="new_song" type="text" name="new_song" placeholder="Song title"></td>
                <td><input id="new_artist" type="text" name="new_artist" placeholder="Artist"></td>
                <td><input id="new_album" type="text" name="new_album" placeholder="Album"></td>
                <td><input id="new_duration" type="text" name="new_duration" placeholder="Duration"></td>
                </form>
            </tr>
            <tr>
                <ul class="list-group" id="song-search-results"></ul>
            </tr>
        </table>
        {% if playlist.page.commenting %}
        <form action="{{url_for('delete_comment', key=playlist.id)}}" method="POST">
            <table class="table" style="color: inherit">
                {% if playlist.comments|length > 0 %}
                <thead>
                    <td>Delete</td>
                    <td>Author</td>
                    <td>Comment</td>
                    <td>Date</td>
                </thead>
                {% endif %}
                {% for comment in playlist.comments %}
                <tr>
                    <td><input type="checkbox" name="{{comment.id}}" value="{{comment.id}}">Delete</td>
                    <td>{{comment.author}}</td>
                    <td>{{comment.content}}</td>
                    <td>{{comment.date}}</td>
                </tr>
                {% endfor%}
            </table>
            <button>Submit</button>
        </form>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    let songsearch = document.querySelector('#new_song');
    let songresults = document.querySelector('#song-search-results');

    songresults.style.color = "black"; 

    songsearch.addEventListener('input', (el) => {
      if (songsearch.value.length > MIN_SEARCH_LENGTH){
        let xhttp = new XMLHttpRequest(); 
          xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  songresults.innerHTML = "";
                  let res = JSON.parse(this.responseText);
                  console.log(res);
                  if(res.status){
                    for(const attr of res.results){
                      let node = document.createElement('LI');
                      node.innerText = songToText(attr);
                      node.classList.add('list-group-item');
                      node.addEventListener('click', (el) => {
                        fillInputBoxes(attr);
                        songresults.innerText = "";
                      })
                      songresults.appendChild(node);
                    }
                  }
             }
          };
        xhttp.open("POST", "/search-song", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("query=" + songsearch.value);
      } else {
        songresults.innerHTML = "";
      }
    })

    let songToText = (attr) => {
        return attr["title"] + ", by " + attr["artist"] + ", from " + attr["album"];
    }

    let fillInputBoxes = (attr) => {
        document.querySelector("#new_song").value = attr["title"];
        document.querySelector("#new_artist").value = attr["artist"];
        document.querySelector("#new_duration").value = attr["duration"];
        document.querySelector("#new_album").value = attr["album"];
    }


    let container = document.querySelector('.playlist-container');
    let color_input = document.getElementById('playlist_color');

    color_input.addEventListener('input', () => {
        container.style.backgroundColor = color_input.value;
        document.body.style.color = ComputeTextColor(color_input.value)
    });

    ComputeTextColor = (backgroundColor) => {
        //from data
        let r_norm = parseInt('0x' + backgroundColor.slice(1,3)) / 255;
        let g_norm = parseInt('0x' + backgroundColor.slice(3,5)) / 255;
        let b_norm = parseInt('0x' + backgroundColor.slice(5,7)) / 255;
        let linearize = (c) => c > 0.03928 ? ((c + 0.055) / 1.055)**2.4 : c / 12.92
        let r_lin = linearize(r_norm)
        let g_lin = linearize(g_norm)
        let b_lin = linearize(b_norm)
        luminance = 0.2126 * r_lin + 0.7152 * g_lin + 0.0722 * b_lin
        text_luma = (1 / 7) * (luminance - 0.3)
        return text_luma > 0.04 ? '#303133' : '#ffffff'
    }

    color_input.value = container.style.backgroundColor;
    document.body.style.color = ComputeTextColor(color_input.value);

</script>
{% endblock %}