{% extends "layout.html" %}
{% block title %} - {{playlist.title}} by {{playlist.creator}} {% endblock %}
{% block content %}
    <div class="container-md text-center playlist-container" 
        {% if playlist.page.color is not none %}
            style="background: {{playlist.page.color}};
                   color: {{playlist.page.text_color}}"
        {% endif %}
        >
        <h1>{{playlist.title}}</h1>   
        <h2>Created by {{playlist.creator}}</h2>
        {% if playlist.metadata.status %}
        <div class="playlist-descr">
            {% if playlist.metadata.image %}
            <canvas id="playlist-thumbnail" width="100" height="100"></canvas>
            {% endif %}
            {% if playlist.metadata.descr %}
            <p id="playlist-descr-content">{{playlist.metadata.descr}}</p>
            {% endif %}
        </div>
        {% endif %}
        <table class="table" style="color: inherit">
            <thead>
                <tr>
                    <td>Song</td>
                    <td>Artist</td>
                    <td>Album</td>
                    <td>Duration</td>
                    <td>Comments</td>
                </tr>
            </thead>
            <tbody>
            {% for song in playlist %}
                <tr>
                    <td><a href="{{url_for('remove_song', key=song.id)}}">Delete</a></td>
                    <td>{{ song["title"] }}</td>
                    <td>{{ song["artist"] }}</td>
                    <td>{{ song["album"] }}</td>
                    <td>{{ song["duration"] }}</td>
                    {% if song["id"] in playlist.song_descr %}
                    <td>{{playlist.song_descr[song["id"]]}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr>
                <td>Add</td>
                <td>Artist</td>
                <td>Album</td>
                <td>Duration</td>
                <td>Comments</td>
            </tr>
            </tbody>
        </table>
        {% if playlist.page.commenting %}
        <table class="table" style="color: inherit">
            {% if playlist.comments|length > 0 %}
            <thead>
                <td>Author</td>
                <td>Comment</td>
                <td>Date</td>
            </thead>
            {% endif %}
            {% for comment in playlist.comments %}
            <tr>
                <td>{{comment.author}}</td>
                <td>{{comment.content}}</td>
                <td>{{comment.date}}</td>
                <td><a href="url_for('delete_comment', key=comment.id)">Delete</a></td>
            </tr>
            {% endfor%}
        </table>
        {% endif %}
    </div>
{% endblock %}
